@model Domain.Entities.Book;

@{
}

<div class="container">
	<h3>@Model.Title</h3>
	<div class="card-body">
		<dl>
			<dt>Author:</dt>
			<dd>@Model.Author</dd>
			<dt>Language:</dt>
			<dd>@Model.Language</dd>
			<dt>Available:</dt>
			@if (Model.IsAvailable) {
				<span class="badge bg-success">Available</span>
			}
			else {
				<span class="badge bg-danger">Not Available</span>
			}
			<dt>Quantity</dt>
			<dd>@Model.Quantity</dd>
		</dl>
	</div>
	

</div>

<a class="btn btn-info" asp-action="Index" asp-controller="Home">Back to Books List</a>
<a class="btn btn-info" asp-action="Create" asp-controller="Borrow" asp-route-bookId="@Model.Id">Lend</a>
