@model Book_Management_System.Utilities.PaginatedList<Domain.Entities.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Language</th>
                <th>Available</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Items) {

                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre.Name</td>
                    <td>@book.Language</td>
                    <td>
                        @if (@book.IsAvailable) {
                            <span class="badge bg-success">Available</span>
                        }
                        else {
                            <span class="badge bg-danger">Not available</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Book" asp-route-id="@book.Id">Details</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Book" 
                        asp-route-id="@book.Id" onclick="return confirm('Are you sure, you want to delete book: @book.Title')">Delete</a>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-controller="Book" asp-route-id="@book.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++) 
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.PageIndex < Model.TotalPages ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
            </li>
        </ul>
    </nav>

    <div class="d-flex justify-content-between">
        <a class="btn-light" asp-action="Add" asp-controller="Book">Add book</a>
    </div>
    
</div>
