@model Book_Management_System.Utilities.PaginatedList<Domain.Entities.Member>

@{
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Items) {

                <tr>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.Email</td>
                    <td>@member.Phone</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Member" asp-route-id="@member.Id">Details</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Member" 
                        asp-route-id="@member.Id" onclick="return confirm('Are you sure, you want to delete member: @member.FirstName @member.LastName')">Delete</a>
                        <a class="btn btn-outline-secondary" asp-action="Update" asp-controller="Member" asp-route-id="@member.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.PageIndex < Model.TotalPages ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
            </li>
        </ul>
    </nav>

    <a class="btn-light" asp-action="Register" asp-controller="Member">Add Member</a>
</div>
